.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
    margin-right: -7px;
    margin-left: -7px;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid lightgrey;
    background: white;
    position: sticky;
    top: 0;
    z-index: 999;

    .leftbar {
        display: flex;
        align-items: center;
        gap: 20px;
        
        .icon{
            background-color: #f0f2f5;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        span {
            font-size: 20pt;
            font-weight: 600;
            color: rgb(69, 2, 102);
        }
    }

    .centerbar {
        display: flex;
        align-items: center;
        justify-content: center;

        .search {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 80px;
            padding: 6px;
            background-color: #f0f2f5;

            input {
                width: 800px;
                border: none;
                padding: 5px;
                background: transparent;
                font-size: 11pt;
                font-family: inherit;
              
            }

            input:focus{
                outline:none;
               }
        }
    }

    .rightbar {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        
        .icon{
            background-color: #f0f2f5;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .user {
            
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-weight: 500;

            img {
                border: 1px solid purple;
                padding: 2px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                object-fit: cover;
                cursor: pointer;


            }

            span {
                
            }
        }

    }
}