@import "../../style.scss";

.land {
    a {
        text-decoration: none;
    }


    font-family: "poppins";

    .navBar {
        position: fixed;
        display: flex;
        justify-content: center;
        height: 70px;
        width: 100%;
        background: #4B0082;
        /* padding-left: 300px; */
        padding-right: 300px;
        align-items: center;
        color: white;
        gap: 900px;
        z-index: 9999;

        @include tablet {
            padding: 0px;
            gap: 380px;
            justify-content: center;
        }


        @include mobile {
            gap: 250px;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;



            .icon {
                background-color: #3c0464;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            span {
                font-size: 25pt;
                font-weight: 600;
                color: white;
                cursor: pointer;
                padding-left: 20px;

                @include mobile {
                    font-size: 24px;
                }
            }

            a {
                text-decoration: none;
            }
        }

        .detail {
            display: flex;
            gap: 40px;
            justify-content: center;
            align-items: center;



            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }

            .logi {

                background: none;


            }

            button {
                background: #d8bfd867;
                border: none;
                height: 35px;
                width: 120px;
                color: white;
                font-family: inherit;
                font-weight: 500;
                border-radius: 16px;
                font-size: 16px;
                cursor: pointer;
                position: relative;
                padding-right: 20px;
                justify-content: center;
                display: flex;
                align-items: center;



                @include mobile {
                    display: none;
                }



                &:hover {
                    background: #d8bfd8b6;
                }

                .icon {
                    font-size: 10px;
                    position: absolute;
                    left: 93px;
                    top: 12px;
                }
            }

            span {
                font-weight: 500;
                font-size: 16px;
                cursor: pointer;
                color: white;
                padding: 5px 30px;

                @include mobile {
                    display: none;
                }


                &:hover {
                    border: 2px solid #d8bfd881;
                    border-radius: 16px;
                }

            }
        }
    }

    .heroBar {
        padding-top: 90px;
        margin-bottom: 50px;
        background-image: url('../../assets/bgg.png');
        z-index: 999999;

        @include mobile {
            padding-top: 90px;
            margin-bottom: 20px;
            background-image: none;
        }

        .inn {
            margin-left: 300px;
            margin-top: 10px;

            @include tablet {
                margin: 0px;
            }

            @include mobile {
                margin: 0px;
            }




            .images {
                display: flex;
                justify-content: center;
                align-items: center;

                @include mobile {
                    display: block;

                }

                .txt {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    z-index: 999;
                    padding: 70px;
                    background: rgba(255, 255, 255, 0.3215686275);
                    border-radius: 30px;
                    gap: 5px;

                    @include tablet {
                        position: absolute;
                        bottom: 590px;
                        left: 0px;
                        border-radius: 0px;
                        background: none;
                    }

                    @include mobile {
                        position: absolute;
                        left: 0;
                        top: 120px;
                        padding: 20px;
                        border-radius: 0px;
                        height: 217px;
                        margin-top: -9.6px;
                        background: none;

                    }

                    h1 {
                        font-size: 70px;
                        line-height: 80px;
                        margin: 0;
                        color: rgb(38, 36, 36);

                        @include mobile {
                            font-size: 30px;
                            line-height: 35px;
                        }
                    }

                    p {
                        color: #484343;
                        font-family: monospace;
                        font-size: 20px;

                        @include mobile {
                            font-size: 11px;
                            color: #000000;
                            font-weight: 500;
                            font-family: monospace;
                        }

                    }

                    .btn {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 10px;


                        button {

                            border: 2px solid #4b0082;
                            height: 65px;
                            width: 180px;
                            color: #15171a;
                            font-family: inherit;
                            font-weight: 500;
                            border-radius: 16px;
                            font-size: 20px;
                            cursor: pointer;
                            padding-right: 20px;
                            position: relative;
                            background: #4B0082;
                            color: whitesmoke;

                            @include mobile {


                                height: 35px;
                                width: 90px;
                                /* color: #15171a; */
                                font-family: inherit;
                                font-weight: 500;
                                border-radius: 5px;
                                font-size: 12px;
                                cursor: pointer;
                                padding-right: 20px;
                                position: relative;
                                background: #4B0082;
                                color: whitesmoke;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            &:hover {
                                border: none;
                                background: #4c00829d;
                            }

                            .icon {
                                font-size: 18px;
                                position: absolute;
                                left: 135px;
                                top: 21px;

                                @include mobile {
                                    left: 66px;
                                    top: 9.2px;
                                    font-size: 10px;
                                }


                            }

                            .icon2 {
                                position: absolute;
                                left: 120px;
                                top: 17.3px;

                                @include mobile {
                                    left: 58px;
                                    top: 9.6px;
                                    font-size: 10px;
                                }



                            }


                        }
                    }

                    .btn2 {


                        button {
                            background: none;
                            color: #4B0082;

                            &:hover {
                                border: 2px solid #4b0082;
                                background: #ddaeff9d;
                            }
                        }
                    }
                }


                .color {
                    background: rgb(75, 0, 130);
                    background: rgb(75, 0, 130);
                    background: linear-gradient(90deg, rgba(75, 0, 130, 1) 0%, rgba(75, 0, 130, 1) 11%, rgba(128, 0, 128, 1) 100%);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                }

                .item {
                    position: relative;
                    width: 900px;

                    @include tablet {
                        width: 100%;
                    }

                    @include mobile {
                        
                        margin: 0;
                    }

                    margin-left: auto;

                    img {
                        width: 900px;
                        height: 600px;
                        border-radius: 5px;

                        @include tablet {
                            width: 820px;
                            height: auto;
                            border-radius: 5px;
                            opacity: 0.2;
                        }

                        @include mobile {
                            max-width: 375px;
                            height: auto;
                            border-radius: 0px;
                            opacity: 0.2;

                        }

                    }
                }
            }
        }


    }

    .family {
        width: 100%;
        background: #fcfcffcc;


        @include mobile {
            max-width: 390px;
            margin-bottom: 20px;
        }

        .content {
            margin-right: 300px;
            margin-left: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;

            @include tablet {
                gap: 30px;
            }


            @include mobile {
                margin: 0;
                flex-direction: column;
                gap: 10px;
                padding-bottom: 20px;
            }

            span {
                font-size: 60px;
                font-weight: 500;
                line-height: 70px;

                @include tablet {
                    font-size: 50px;
                    font-weight: 500;
                    line-height: 55px;
                }

                @include mobile {
                    font-size: 40px;
                    font-weight: 500;
                    line-height: 50px;
                }
            }

            .inners {
                display: flex;
                flex-direction: column;
                gap: 30px;

                @include mobile {
                    gap: 10px;
                }


                button {
                    border: 2px solid #4b0082;
                    height: 65px;
                    width: 180px;
                    color: #15171a;
                    font-family: inherit;
                    font-weight: 500;
                    border-radius: 16px;
                    font-size: 20px;
                    cursor: pointer;
                    padding-right: 20px;
                    background: transparent;
                    color: #4b0082;

                    &:hover {
                        color: white;
                        background: #4b0082;
                    }

                    @include mobile {
                        display: flex;
                        justify-content: center;
                        border: 2px solid #4b0082;
                        height: 35px;
                        width: 130px;
                        color: #15171a;
                        font-family: inherit;
                        font-weight: 500;
                        border-radius: 16px;
                        font-size: 16px;
                        cursor: pointer;
                        padding-right: 20px;
                        background: #4b0082;
                        color: #ffffff;
                        align-items: center;
                    }

                }
            }

            .wrap {
                margin: 0;

                img {
                    height: auto;
                    width: 600px;
                    object-fit: cover;
                    margin: 0;

                    @include tablet {
                        width: 500px;
                    }

                    @include mobile {
                        width: 340px;
                    }
                }
            }
        }

    }

    .section {
        width: 100%;
        padding-bottom: 40px;

        background: #ffffff;

        @include mobile {
            max-width: 411px;
            margin-bottom: 20px;
        }


        .container {
            padding-top: 30px;
            margin-left: 300px;
            margin-right: 300px;
            display: flex;
            justify-content: space-between;

            @include mobile {
                margin: 0px;
                justify-content: center;
                flex-direction: column;
            }

            @include tablet {
                margin: 0px;


            }



            .cover {

                width: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                border-right: 2px solid #15171a53;
                padding-right: 50px;
                padding-top: 80px;
                padding-bottom: 80px;

                @include mobile {
                    border: none;
                    padding: 0px;
                    width: 100%;
                }

                h2 {
                    font-weight: 500;
                    font-size: 20px;

                    @include mobile {
                        margin: 0;
                    }
                }

                p {
                    color: rgb(112, 111, 111);

                    @include mobile {
                        color: #525050;
                        font-size: 14px;
                        text-align: left;
                        padding: 0px 30px;
                    }
                }

                .item {
                    background-image: url("../../assets/cyber-security.png");
                    background-size: cover;
                    height: 100px;
                    width: 100px;
                    margin-bottom: 40px;
                    background-repeat: no-repeat;

                    @include mobile {
                        width: 50px;
                        height: 50px;
                        margin-bottom: 10px;
                    }



                }

                .item1 {
                    background-image: url("../../assets/tap.png");
                    background-size: cover;
                    height: 100px;
                    width: 100px;
                    margin-bottom: 40px;
                    background-repeat: no-repeat;

                    @include mobile {
                        width: 50px;
                        height: 50px;
                        margin-bottom: 10px;
                    }


                }

                .item2 {
                    background-image: url("../../assets/updated.png");
                    background-size: cover;
                    height: 100px;
                    width: 100px;
                    margin-bottom: 40px;
                    background-repeat: no-repeat;

                    @include mobile {
                        width: 50px;
                        height: 50px;
                        margin-bottom: 10px;
                    }


                }

                &:nth-child(2) {
                    padding: 80px 50px;


                    @include mobile {
                        padding: 0px;
                    }
                }

                &:last-child {
                    border: none;
                    padding: 80px 50px;

                    @include mobile {
                        padding: 0px;
                        border: none;
                    }
                }
            }

        }
    }

    .features {
        background: #000;
        width: 100%;
        color: white;
        padding-top: 30px;
        padding-left: 300px;
        padding-right: 300px;
        padding-bottom: 30px;

        @include tablet {
            padding: 0px;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        @include mobile {
            max-width: 411px;
            padding: 0px;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        span {
            font-weight: 500;
            font-size: 50px;
        }


        .darkmode {


            span {
                font-size: 30px;
            }
        }

        .newsFeed {


            span {
                font-size: 30px;
            }
        }

        .storiez {


            span {
                font-size: 30px;
            }
        }
    }

    .about {
        background: rgb(203, 216, 248);
        width: 100%;
        padding-top: 30px;
        padding-left: 300px;
        padding-right: 300px;
        padding-bottom: 30px;

        @include tablet {
            padding: 0px;
            padding-left: 10px;
            padding-bottom: 20px;
            padding-top: 10px;
        }

        @include mobile {
            max-width: 411px;
            padding: 0px;
            padding-bottom: 20px;
            padding-top: 10px;
        }


        span {

            font-weight: 500;
            font-size: 50px;
            margin-bottom: 30px;

            @include mobile {
                font-size: 30px;
            }
        }

        .inspire {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            gap: 70px;
            padding-right: 550px;

            @include tablet {
                display: block;
                padding: 0px;
            }

            @include mobile {
                display: block;
                padding: 0px;
            }

            .contain {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-right: 190px;

                @include tablet {
                    padding: 0px;
                }

                @include mobile {
                    padding: 0px;
                }
            }

            p {
                line-height: 40px;
                font-weight: 400;

                @include tablet {
                    padding: 30px;

                }

                @include mobile {
                    line-height: 34px;
                    font-weight: 400;
                    padding: 0px 10px;

                }
            }



            .profil {
                display: flex;
                align-items: center;
                flex-direction: column;

                span {
                    font-size: 18px;
                    font-weight: 550;
                    margin-bottom: 10px;
                }



                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                    background-image: white;
                    border: 10px solid rgba(255, 255, 255, 0.262);
                    cursor: pointer;

                    &:hover {
                        border: 25px solid rgba(255, 255, 255, 0.262);
                    }
                }

                .social {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    .item {

                        img {

                            width: 40px;
                            height: 40px;
                            border: 3px solid rgba(255, 255, 255, 0.262);
                        }
                    }
                }
            }
        }

        .repo {

            button {
                border: 2px solid #4b0082;
                height: 65px;
                width: 280px;
                color: #15171a;
                font-family: inherit;
                font-weight: 500;
                border-radius: 16px;
                font-size: 18px;
                cursor: pointer;
                padding-right: 20px;
                position: relative;
                color: #4b0082;
                background: transparent;

                &:hover {
                    border: none;
                    color: white;
                    background: #4b0082;
                }
            }


        }
    }

    .footer {
        background: #000;
        height: 60px;

        @include tablet {
            background: #000;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include mobile {
            width: 100%;
            background: #000;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .foot {
            padding-left: 300px;
            padding-right: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include tablet {
                padding: 0px;
                justify-content: center;
                align-items: center;
                gap: 300px;
            }

            @include mobile {
                padding: 0px;
                justify-content: center;
                align-items: center;
                gap: 80px;
            }

            .txxt {}

            p {
                color: white;
                cursor: pointer;

                @include mobile {
                    font-size: 10px;
                }

                &:hover {
                    color: #e45cff;
                }
            }

            span {
                font-size: 25pt;
                font-weight: 600;
                color: white;
                cursor: pointer;

                @include mobile {
                    font-size: 20px;
                }
            }
        }
    }
}