.fw {
    display: flex;
    justify-content: center;
}

.light {

    .navbar {
        background-color: white;
    }
}


.dark {
    background: #333;


    .navbar {
        background-color: #222;
        color: whitesmoke;
        border-bottom: 1px solid #444;

        .leftbar {


            .icon {
                background: #333;
            }

            span {
                color: whitesmoke;
            }
        }

        .centerbar {


            .search {
                background-color: #333;



                input {

                    &::placeholder {
                        color: whitesmoke;
                    }
                }

            }
        }

        .rightbar {

            .icon {
                background: #333;
            }

            .user {

                img {
                    border: 1px solid rgb(249, 5, 249);
                }
            }
        }
    }

    .leftBar {
        color: whitesmoke;

        .container {

            hr {
                background: #444;
            }
        }
    }

    .Rightbar {

        .container {

            hr {
                background: #444;
            }

            .item {

                color: whitesmoke;

                span {
                    color: whitesmoke;
                }
            }

            .user {

                .userInfo {

                    span {
                        color: whitesmoke;
                    }
                }
            }
        }
    }

    .home {

        .stories {

            background: #222;

            .arrowBack {}

            .arrowForward {}
        }

        .post {
            background: #222;
            color: whitesmoke;

            .content {
                color: whitesmoke;
            }

            .info {

                .item {
                    color: whitesmoke;
                }
            }
        }

        .comments {
            .write {



                .input {

                    background: #444;



                    button {
                        color: #2c0148
                    }

                }

                input {


                    &::placeholder {
                        color: whitesmoke;
                    }
                }

            }

            .comment {

                .info {

                    .bg {
                        background: #444;
                    }
                }
            }

            .date {
                color: whitesmoke;
            }
        }
    }

    .profile {

        .images {

            .profilePic {
                border: 10px solid #222;
            }
        }


        .profileContainer {

            .userInfo {
                background: #222;

                .left {
                    .item {

                        a {
                            color: whitesmoke;
                        }
                    }
                }

                .center {


                    span {
                        color: white;
                    }

                    .info {

                        span {
                            color: whitesmoke;
                        }
                    }
                }

                .right {
                    color: whitesmoke;
                }
            }
        }

        .profPost {


            .post {
                background: #222;
                color: whitesmoke;

                .content {
                    color: whitesmoke;
                }

                .info {

                    .item {
                        color: whitesmoke;
                    }
                }
            }

            .comments {
                .write {



                    .input {

                        background: #444;



                        button {
                            color: #2c0148
                        }

                    }

                    input {


                        &::placeholder {
                            color: whitesmoke;
                        }
                    }

                }

                .comment {

                    .info {

                        .bg {
                            background: #444;
                        }
                    }
                }

                .date {
                    color: whitesmoke;
                }
            }
        }


    }

    .share {
        background: #222;
        
        .container{
            .top{
                
                input{
                    background: #444;
                    color: white;
                }
                
               
            }
            
            .postImg{
                
                span{
                    color: whitesmoke;
                }
            }
            hr{
                background-color: #444;
            }
            
            .bottom{
                
                .item{
                    
                    span{
                        color: whitesmoke;
                    }
                }
            }
        }
    }

}

@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 960px) {
        @content;
    }
}